<launch>
<!-- rosrun tf static_transform_publisher 0 0 0 0 0 0 odom base_link 100
 -->
  <node ns="velodyne" pkg="but_velodyne_proc" type="cloud_assembler" name="but_velodyne_proc_cloud_assembler_node_velodyne" output="screen">
    <remap from="/velodyne/but_velodyne_proc_cloud_assembler_node_velodyne/points_in" to="/velodyne_points" />
    <remap from="/velodyne/but_velodyne_proc_cloud_assembler_node_velodyne/points_out" to="/velodyne_combined" />
    <!--param name="frame_id" value="/velodyne" /-->
    <!--<param name="fixed_frame" type="string" value="base_link" /> /-->
    <!--<param name="robot_frame" type="string" value="base_link" /> -->
    <param name="continuous_concat" type="boolean" value="true"/>
    <param name="buffer_length" type="int" value="100"/>
  </node>
</launch>
